@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

//     border-left: 0.5px solid #333;
//     box-sizing: border-box;
.img-square-wrapper{
    margin-top: 4rem;
    margin-left: 1rem;
}
.card-img{
  object-fit: cover;
  width: 10rem;
  height: 16rem;
}
.img-square-wrapper:hover{
	transform: scale(1.1);
}
.card-title{
   color: rgb(255, 238, 83);
   margin-top: 2rem;
}
.card-text{
    margin-top: 2rem;
    color: rgb(255, 238, 83);
}



body{
    background-color: black;
    font-family: 'Kufam', cursive;
}

//StarWars logo
.headerLogo{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

//Navbar
.navbar .navbar-nav .nav-link a{
    letter-spacing: 1px;
    color: rgb(255, 238, 83);
    font-size: 1.1em; 
    background-color: transparent;
    font-family: 'Kufam', cursive;
}
#navbarNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    list-style: none;
}
.navbar .navbar-nav .nav-link a:hover{
    color: white;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
 .nav-item:not(:last-child) .nav-link {
    border-right: 1.5px solid rgb(255, 238, 83);
    height: 2.8rem;
  }
}

.navbar.navbar-expand-lg{
    display: flex;
    justify-content: center;
}

.nav-link.Name * {
    text-decoration: none;
    margin-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}
a{
    display: flex;
}

.dropdown.nav-item{
    display: flex;
    margin-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-menu.show{
    background-color: rgba(15, 15, 15, 0.726);
}

svg{
    color: rgb(255, 238, 83);
}
svg:hover{
    color: white;
}

//Searchbar
.searchbar{
   padding-left: 1rem;
}

#combo-box-demo{
    height: 0.2px;
    color: rgb(255, 238, 83);
    // margin-bottom: 8px;
}
// .inputSearch{
//     margin-bottom: 20rem;
// }
.MuiAutocomplete-root{
    border-left: 1.5px solid rgb(255, 238, 83);
    // margin-bottom: 8px;
    // height: 2.6rem;
}

label{
    padding: 0 0.5em;
}

#combo-box-demo-label{
    font-family: 'Kufam', cursive;
}

//Characters
div.d-flex.flex-column {
    display: inline-flex;
    flex-wrap: wrap;
}
div.card{
    box-sizing: border-box;
}
.cardContainer{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

img.card-img-top{
    width: 19rem;
    height: 26rem;
}

div.card{
    background-color:  rgba(15, 15, 15, 0.582);
    margin-bottom: 2rem; 
}
.card-body{
    border-color: #9e4f60; 
}
.card-title.h5{
    color: rgb(255, 238, 83);
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

button.btn{
    background-color: rgb(250, 229, 39);
}

.btn.bg-transparent:focus{
    box-shadow: none;
}

.fa{
    color: red;
}

.fa:hover{
    color: rgb(150, 0, 0);
}

// Characters & Planets View Details
.row.flex-row{
    display: flex;
    justify-items: space-between;
}

div.jumbotron{
    background-color:  rgba(15, 15, 15, 0.582);
}

.img-square-wrapper{
    margin-left: 2rem;
}
div.card.view{
    background-color: rgba(51, 49, 49, 0);
}

div.card-body.view{
    background-color: transparent;
    margin-top: -40px;
    color: rgb(250, 229, 39);
}
.h1view{
    margin-bottom: 2rem;
}

// Planets
.planets_image {
    background-image: url(https://img.unocero.com/2020/01/nasa-descubre-planeta-tatooine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.planets_card{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

// Footer
.footer_container{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.footer_icon{
    color: white;
    font-size: 1rem;
}